allow vendor_init dhcp_data_file:dir { setattr };
allow vendor_init media_rw_data_file:dir { setattr };
allow vendor_init rootfs:dir { write };
allow vendor_init rootfs:lnk_file { setattr };
allow vendor_init system_data_file:dir { write };
allow vendor_init tmpfs:dir { write };
